extends template.jade
block contentJade
	each v in items
		-console.log(v)
		div.item-container
			img(src=v.img)
			p.item-name=v.name
			p.item-desc=v.desc
			p.item-price=v.price
			a.item-Go(href=v.Go) Go
			button buy